KAIRO_PLATFORM_API_URL=http://127.0.0.1:18280
KAIRO_WEB_SESSION_KEY=replace-with-at-least-32-random-characters
KAIRO_WEB_PUBLIC_BASE_URL=http://127.0.0.1:18380
KAIRO_WEB_ENVIRONMENT=local
KAIRO_WEB_DEMO_MODE=false
