RUNTIME_MOCK_PLATFORM_API_URL=http://127.0.0.1:18280
RUNTIME_MOCK_WEB_SESSION_KEY=replace-with-at-least-32-random-characters
RUNTIME_MOCK_WEB_PUBLIC_BASE_URL=http://127.0.0.1:18380
RUNTIME_MOCK_WEB_ENVIRONMENT=local
RUNTIME_MOCK_WEB_DEMO_MODE=false
